<!DOCTYPE html>
<html>
    <head>
        <title>Josh's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Josh's Blog</a></h1>
            <h4><em>A place to find Josh's blogs...</em></h4>
        </header>

        <main>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        (% endfor %)
         </main>  
    </body>
   
    
</html>